@import url(https://fonts.googleapis.com/css?family=Cookie|Lobster+Two|Yanone+Kaffeesatz);
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    padding: 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:hidden;
  padding-bottom:60px; /* this needs to be bigger than footer height*/
}

p {
    font-family: Arial, sans-serif;
}

#brand {
    color:#000;
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
}

#brand:hover {
    color:#4d88ff;
    cursor:default;
    transition: 0.5s;
}

.crop-img {
    width: 100%;
    max-height: 150px;
}

#gallery {
    position: relative;
    top: 70px;
}

#myNavi {
    background-color: #c2c2a3;
}

/*footer styles*/
.footer {
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:20px;
  font-family: 'Droid Sans', sans-serif;
  background-color: #b8b894;
  color: #1f1f14;
} 

footer span {
    position: absolute;
    top: 15px;
}

#facebook {
    position: relative;
    top: 6px;
}
#facebook img {
    width: 40px;
    height: 40px;
}

#facebook img:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: 1.5s;
}

/*form styles*/
.modal-header, h4, .close {
    background-color: #3366ff;
    color: white;
}